body{
    background-color: aqua;
}
h1{
    color:blueviolet
}
h3{
    color: blueviolet;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}